<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Exercise Tracker</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="checkAuth()">
      <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/workouts" routerLinkActive="active" >Workouts</a> </li>
      <li class="nav-item"><a class="nav-link" routerLink="/friends" routerLinkActive="active" >Friends</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/notifications" routerLinkActive="active" >Notifications( {{checkNotifications()}} )</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-link" routerLink="/signup" routerLinkActive="active" *ngIf="!checkAuth()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!checkAuth()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a class="nav-link" style="cursor: pointer" (click)="logout()" routerLinkActive="active" *ngIf="checkAuth()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    <div class="navbar-text pull-right" *ngIf="checkAuth()">
       {{checkUser()}} <span class="dot"></span>
    </div>

  </div>
</nav>

