
<div class="container">
<div class="row">
  <p style="color:cornflowerblue">You can post your daily exercise activities log here and make them visble to your friends. You can also see your friends activties by checking their profile </p>
<hr />
</div>
<div class="row">
  <div class="left">
      <div class="card">
              <div class="card-header"><u><b>List Of Activities Posted </b></u><hr></div>
                  <ul class="list-group-item list-group-item-success" *ngFor="let item of activities; let i = index">
                  <li>
                        You have posted new exercise activity <b>{{item.activity}}</b> : {{item.value}} at {{item.createdAt}}
                  </li>
              </ul>
            </div>
      </div>
<div class="right">
    <div class="card">
        <div class="card-header"><u><b>Exercise Activities</b></u><hr></div>
          <ul class="list-group-item list-group-item-info" *ngFor="let item of workouts; let i = index">
            
              <li (click)="edit(item.type,i)" *ngIf="!item.show">{{item.type}}</li>
              <div *ngIf="item.show">
                <div class="input-group">
                  <input type="text" placeholder= "Enter value(Ex:2 KM,etc)" class="form-control" [(ngModel)]="activity" style="width: 45%;">
                    <a>Please check box for Private posts</a>
                    <span class="input-group-btn">
                    <input type="checkbox" class="form-control check" [(ngModel)]="isPrivate" *ngIf="item.show">
                    <button class="btn btn-success" type="button" (click)="post(item.type,i)" style="margin-right: 10px;">Post</button>
                    <button class="btn btn-danger" type="button" (click)="cancel(i)">Cancel</button>
                  </span>
                </div>
              </div>
              </ul>
            </div>
        </div>
    </div>
  </div>